<a href="https://colab.research.google.com/github/sundeepgarg/EDA_Optimising_NYC_Taxis_Sundeep/blob/main/Sundeep_EDA_Assg_NYC_Taxi_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **New York City Yellow Taxi Data**

## Objective
In this case study you will be learning exploratory data analysis (EDA) with the help of a dataset on yellow taxi rides in New York City. This will enable you to understand why EDA is an important step in the process of data science and machine learning.

## **Problem Statement**
As an analyst at an upcoming taxi operation in NYC, you are tasked to use the 2023 taxi trip data to uncover insights that could help optimise taxi operations. The goal is to analyse patterns in the data that can inform strategic decisions to improve service efficiency, maximise revenue, and enhance passenger experience.

## Tasks
You need to perform the following steps for successfully completing this assignment:
1. Data Loading
2. Data Cleaning
3. Exploratory Analysis: Bivariate and Multivariate
4. Creating Visualisations to Support the Analysis
5. Deriving Insights and Stating Conclusions

---

**NOTE:** The marks given along with headings and sub-headings are cumulative marks for those particular headings/sub-headings.<br>

The actual marks for each task are specified within the tasks themselves.

For example, marks given with heading *2* or sub-heading *2.1* are the cumulative marks, for your reference only. <br>

The marks you will receive for completing tasks are given with the tasks.

Suppose the marks for two tasks are: 3 marks for 2.1.1 and 2 marks for 3.2.2, or
* 2.1.1 [3 marks]
* 3.2.2 [2 marks]

then, you will earn 3 marks for completing task 2.1.1 and 2 marks for completing task 3.2.2.

---

## Data Understanding
The yellow taxi trip records include fields capturing pick-up and drop-off dates/times, pick-up and drop-off locations, trip distances, itemized fares, rate types, payment types, and driver-reported passenger counts.

The data is stored in Parquet format (*.parquet*). The dataset is from 2009 to 2024. However, for this assignment, we will only be using the data from 2023.

The data for each month is present in a different parquet file. You will get twelve files for each of the months in 2023.

The data was collected and provided to the NYC Taxi and Limousine Commission (TLC) by technology providers like vendors and taxi hailing apps. <br>

You can find the link to the TLC trip records page here: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

###  Data Description
You can find the data description here: [Data Dictionary](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)

**Trip Records**



|Field Name       |description |
|:----------------|:-----------|
| VendorID | A code indicating the TPEP provider that provided the record. <br> 1= Creative Mobile Technologies, LLC; <br> 2= VeriFone Inc. |
| tpep_pickup_datetime | The date and time when the meter was engaged.  |
| tpep_dropoff_datetime | The date and time when the meter was disengaged.   |
| Passenger_count | The number of passengers in the vehicle. <br> This is a driver-entered value. |
| Trip_distance | The elapsed trip distance in miles reported by the taximeter. |
| PULocationID | TLC Taxi Zone in which the taximeter was engaged |
| DOLocationID | TLC Taxi Zone in which the taximeter was disengaged |
|RateCodeID |The final rate code in effect at the end of the trip.<br> 1 = Standard rate <br> 2 = JFK <br> 3 = Newark <br>4 = Nassau or Westchester <br>5 = Negotiated fare <br>6 = Group ride |
|Store_and_fwd_flag |This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka “store and forward,” because the vehicle did not have a connection to the server.  <br>Y= store and forward trip <br>N= not a store and forward trip |
|Payment_type| A numeric code signifying how the passenger paid for the trip. <br> 1 = Credit card <br>2 = Cash <br>3 = No charge <br>4 = Dispute <br>5 = Unknown <br>6 = Voided trip |
|Fare_amount| The time-and-distance fare calculated by the meter. <br>Extra Miscellaneous extras and surcharges.  Currently, this only includes the 0.50 and 1 USD rush hour and overnight charges. |
|MTA_tax |0.50 USD MTA tax that is automatically triggered based on the metered rate in use. |
|Improvement_surcharge | 0.30 USD improvement surcharge assessed trips at the flag drop. The improvement surcharge began being levied in 2015. |
|Tip_amount |Tip amount – This field is automatically populated for credit card tips. Cash tips are not included. |
| Tolls_amount | Total amount of all tolls paid in trip.  |
| total_amount | The total amount charged to passengers. Does not include cash tips. |
|Congestion_Surcharge |Total amount collected in trip for NYS congestion surcharge. |
| Airport_fee | 1.25 USD for pick up only at LaGuardia and John F. Kennedy Airports|

Although the amounts of extra charges and taxes applied are specified in the data dictionary, you will see that some cases have different values of these charges in the actual data.

**Taxi Zones**

Each of the trip records contains a field corresponding to the location of the pickup or drop-off of the trip, populated by numbers ranging from 1-263.

These numbers correspond to taxi zones, which may be downloaded as a table or map/shapefile and matched to the trip records using a join.

This is covered in more detail in later sections.

---



```
# This is formatted as code
```

## **1** Data Preparation

<font color = red>[5 marks]</font> <br>

### Import Libraries

In [ ]:
# Import warnings

In [1]:
# Import the libraries you will be using for analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Recommended versions
# numpy version: 1.26.4
# pandas version: 2.2.2
# matplotlib version: 3.10.0
# seaborn version: 0.13.2

# Check versions
print("numpy version:", np.__version__)
print("pandas version:", pd.__version__)
print("matplotlib version:", plt.matplotlib.__version__)
print("seaborn version:", sns.__version__)

numpy version: 2.0.2
pandas version: 2.2.2
matplotlib version: 3.10.0
seaborn version: 0.13.2

### **1.1** Load the dataset
<font color = red>[5 marks]</font> <br>

You will see twelve files, one for each month.

To read parquet files with Pandas, you have to follow a similar syntax as that for CSV files.

`df = pd.read_parquet('file.parquet')`

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

How many rows are there? Do you think handling such a large number of rows is computationally feasible when we have to combine the data for all twelve months into one?

To handle this, we need to sample a fraction of data from each of the files. How to go about that? Think of a way to select only some portion of the data from each month's file that accurately represents the trends.

#### Sampling the Data
> One way is to take a small percentage of entries for pickup in every hour of a date. So, for all the days in a month, we can iterate through the hours and select 5% values randomly from those. Use `tpep_pickup_datetime` for this. Separate date and hour from the datetime values and then for each date, select some fraction of trips for each of the 24 hours.

To sample data, you can use the `sample()` method. Follow this syntax:

```Python
# sampled_data is an empty DF to keep appending sampled data of each hour
# hour_data is the DF of entries for an hour 'X' on a date 'Y'

sample = hour_data.sample(frac = 0.05, random_state = 42)
# sample 0.05 of the hour_data
# random_state is just a seed for sampling, you can define it yourself

sampled_data = pd.concat([sampled_data, sample]) # adding data for this hour to the DF
```

This *sampled_data* will contain 5% values selected at random from each hour.

Note that the code given above is only the part that will be used for sampling and not the complete code required for sampling and combining the data files.

Keep in mind that you sample by date AND hour, not just hour. (Why?)

---

**1.1.1** <font color = red>[5 marks]</font> <br>
Figure out how to sample and combine the files.

**Note:** It is not mandatory to use the method specified above. While sampling, you only need to make sure that your sampled data represents the overall data of all the months accurately.

In [ ]:
# Sample the data
# It is recommmended to not load all the files at once to avoid memory overload

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [6]:
import pandas as pd
import os

# Path to files (update your actual path)
path = '/content/drive/Othercomputers/Dell G15/Upgrad/Dataset/NYC Taxi/NYC Taxi/trip_records'
all_files = [f for f in os.listdir(path) if f.endswith('.parquet')]

# List to collect samples
all_samples = []

for file in all_files:
    # Read each file
    df = pd.read_parquet(os.path.join(path, file))

    # Create hour and date columns
    df['date'] = df['tpep_pickup_datetime'].dt.date
    df['hour'] = df['tpep_pickup_datetime'].dt.hour

    # Sample 5% from each hour-date combination
    sampled = df.groupby(['date', 'hour']).sample(frac=0.05, random_state=42)
    all_samples.append(sampled)

# Combine and save
final_sample = pd.concat(all_samples)
final_sample.to_parquet('/content/drive/Othercomputers/Dell G15/Upgrad/Dataset/NYC Taxi/NYC Taxi/trip_records/simple_sample.parquet')

print(f"Sampled {len(final_sample):,} records")

Sampled 1,896,400 records

To be deleted

This code performs stratified sampling of NYC taxi trip data. Here's a detailed explanation:

Import Libraries:
pythonCopyimport pandas as pd
import os

pandas is used for data manipulation and analysis
os is used for interacting with the operating system, including file operations


Set Up File Path and Get Files:
pythonCopypath = '/content/drive/Othercomputers/Dell G15/Upgrad/Dataset/NYC Taxi/NYC Taxi/trip_records'
all_files = [f for f in os.listdir(path) if f.endswith('.parquet')]

Sets the directory path where the NYC taxi data is stored
Creates a list of all .parquet files in that directory (Parquet is a columnar storage file format)


Initialize Collection List:
pythonCopyall_samples = []

Creates an empty list to store the sampled data from each file


Process Each File:
pythonCopyfor file in all_files:
    # Read each file
    df = pd.read_parquet(os.path.join(path, file))

Loops through each parquet file
Reads each file into a pandas DataFrame


Create Time-based Features:
pythonCopydf['date'] = df['tpep_pickup_datetime'].dt.date
df['hour'] = df['tpep_pickup_datetime'].dt.hour

Extracts the date and hour from the pickup datetime
These will be used as strata for sampling


Stratified Sampling:
pythonCopysampled = df.groupby(['date', 'hour']).sample(frac=0.05, random_state=42)
all_samples.append(sampled)

Groups the data by date and hour
From each group (e.g., all trips from Jan 1st at 2pm), it randomly selects 5% of the records
Uses random_state=42 to ensure reproducibility of the sampling
Adds the sampled data to the collection list


Combine and Save Results:
pythonCopyfinal_sample = pd.concat(all_samples)
final_sample.to_parquet('/content/drive/Othercomputers/Dell G15/Upgrad/Dataset/NYC Taxi/NYC Taxi/trip_records/simple_sample.parquet')

Combines all sampled data into a single DataFrame
Saves the combined sample as a new parquet file


Report Results:
pythonCopyprint(f"Sampled {len(final_sample):,} records")

Prints the total number of records in the final sample with comma formatting



The key insight is that this code performs stratified sampling rather than simple random sampling. By sampling within each date-hour combination, it ensures the final dataset maintains the temporal distribution of the original data. This is important for time-series data like taxi trips, where patterns vary by time of day and date.

After combining the data files into one DataFrame, convert the new DataFrame to a CSV or parquet file and store it to use directly.

Ideally, you can try keeping the total entries to around 250,000 to 300,000.

In [7]:
# Store the df in parquet
# df.to_parquet('')
import pandas as pd

# Load the sampled Parquet file into a DataFrame
df = pd.read_parquet('/content/drive/Othercomputers/Dell G15/Upgrad/Dataset/NYC Taxi/NYC Taxi/trip_records/simple_sample.parquet')

# Check the number of entries
#print(f"Total entries: {len(df):,}")

# Verify the first few rows
#print(df.head())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1896400 entries, 119 to 3205710
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  date                   object
 20  hour                   int32
 21  airport_fee            float64
dtypes: datetime64[us](2), float64(13), int32(1), int64(4), object(2)
memory usage: 325.5+ MB
None

## **2** Data Cleaning
<font color = red>[30 marks]</font> <br>

Now we can load the new data directly.

In [8]:
# Load the new data file
import pandas as pd

# Load the sampled Parquet file into a DataFrame
df = pd.read_parquet('/content/drive/Othercomputers/Dell G15/Upgrad/Dataset/NYC Taxi/NYC Taxi/trip_records/simple_sample.parquet')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1896400 entries, 119 to 3205710
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  date                   object
 20  hour                   int32
 21  airport_fee            float64
dtypes: datetime64[us](2), float64(13), int32(1), int64(4), object(2)
memory usage: 325.5+ MB
None

In [9]:
df.head(200)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,date,hour,airport_fee
119,2,2023-08-31 23:56:01,2023-09-01 00:18:41,1.0,3.11,1.0,N,114,246,1,...,0.5,0.00,0.00,1.0,26.20,2.5,0.00,2023-08-31,23,NaN
1373,2,2023-09-01 00:22:07,2023-09-01 00:49:44,1.0,6.85,1.0,N,144,238,1,...,0.5,7.62,0.00,1.0,45.72,2.5,0.00,2023-09-01,0,NaN
1489,2,2023-09-01 00:40:20,2023-09-01 00:51:30,1.0,1.15,1.0,N,230,162,1,...,0.5,3.28,0.00,1.0,19.68,2.5,0.00,2023-09-01,0,NaN
2543,2,2023-09-01 00:29:50,2023-09-01 01:06:41,2.0,19.82,2.0,N,132,142,1,...,0.5,16.54,6.94,1.0,99.23,2.5,1.75,2023-09-01,0,NaN
1836,2,2023-09-01 00:07:05,2023-09-01 00:13:37,2.0,1.22,1.0,N,186,107,1,...,0.5,1.00,0.00,1.0,14.60,2.5,0.00,2023-09-01,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,2,2023-09-01 01:17:04,2023-09-01 01:21:49,1.0,0.76,1.0,N,148,79,1,...,0.5,2.00,0.00,1.0,14.20,2.5,0.00,2023-09-01,1,NaN
3933,2,2023-09-01 01:57:15,2023-09-01 02:03:40,5.0,1.43,1.0,N,170,107,1,...,0.5,0.00,0.00,1.0,14.30,2.5,0.00,2023-09-01,1,NaN
3909,2,2023-09-01 01:36:08,2023-09-01 01:51:32,1.0,3.29,1.0,N,79,66,1,...,0.5,3.00,0.00,1.0,27.10,2.5,0.00,2023-09-01,1,NaN
2703,1,2023-09-01 01:15:38,2023-09-01 01:35:46,1.0,8.50,1.0,N,229,244,1,...,0.5,9.85,0.00,1.0,49.35,2.5,0.00,2023-09-01,1,NaN
3866,1,2023-09-01 01:06:26,2023-09-01 01:24:04,1.0,4.00,1.0,N,249,33,2,...,0.5,0.00,0.00,1.0,24.10,2.5,0.00,2023-09-01,1,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1896400 entries, 119 to 3205710
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  date                   object
 20  hour                   int32
 21  airport_fee            float64
dtypes: datetime64[us](2), float64(13), int32(1), int64(4), object(2)
memory usage: 325.5+ MB



```
# This is formatted as code
```

#### **2.1** Fixing Columns
<font color = red>[10 marks]</font> <br>

Fix/drop any columns as you seem necessary in the below sections

**2.1.1** <font color = red>[2 marks]</font> <br>

Fix the index and drop unnecessary columns

In [11]:
# Fix the index by resetting it to a clean sequential index
# Reset the index to a default integer index
df = df.reset_index(drop=True)

# Drop redundant/irrelevant columns
columns_to_drop = [
    'store_and_fwd_flag',  # Contains mostly 'N'/'Y' with some nulls (not useful for analysis)
    'date',                # Redundant (already captured in tpep_pickup_datetime)
    'hour'                 # Redundant (can be derived from tpep_pickup_datetime)
]
df = df.drop(columns=columns_to_drop)

print("After fixing index and dropping columns:")
print(df.info())

After fixing index and dropping columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896400 entries, 0 to 1896399
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   PULocationID           int64
 7   DOLocationID           int64
 8   payment_type           int64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  congestion_surcharge   float64
 17  Airport_fee            float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(13), int64(4)
memory usage: 274.9 MB
None

to be deleted

Explanation:

This code snippet performs two main data cleaning operations on a pandas DataFrame (df): resetting the index and dropping unnecessary columns.

Resetting the Index:

df = df.reset_index(drop=True)
df.reset_index(): This method resets the index of the DataFrame.
drop=True: This argument tells pandas to discard the old index instead of adding it as a new column.
Why reset the index?
After performing operations like grouping and sampling, the DataFrame's index might become irregular or non-sequential. Resetting it ensures that the index is a clean, sequential integer index (0, 1, 2, ...), which is often necessary for further data manipulation and analysis.
It helps to avoid potential issues with indexing and slicing.
Dropping Redundant/Irrelevant Columns:

columns_to_drop = ['store_and_fwd_flag', 'date', 'hour']
This line creates a list called columns_to_drop containing the names of the columns that will be removed from the DataFrame.
Explanation of each column:
'store_and_fwd_flag':
This column typically indicates whether the trip record was stored in the taxi's memory and forwarded to the server later.
The comment explains that it contains mostly 'N' (no) and 'Y' (yes) values, with some nulls.
It is being dropped as it is deemed not useful for the intended analysis.
'date':
This column was likely created earlier by extracting the date from the tpep_pickup_datetime column.
It is being dropped because the date information is already available within the tpep_pickup_datetime column.
'hour':
Similar to the date column, this column was likely created by extracting the hour from the tpep_pickup_datetime column.
It is also being dropped because the hour information can be derived from the tpep_pickup_datetime column.
df = df.drop(columns=columns_to_drop)
This line removes the columns specified in the columns_to_drop list from the DataFrame.
columns=columns_to_drop specifies that the items in the list refer to column names.
Printing DataFrame Information:

print("After fixing index and dropping columns:")
This line prints a descriptive message to the console.
print(df.info())
df.info(): This method prints a summary of the DataFrame, including:
The number of rows and columns.
The column names.
The data type of each column.
The number of non-null values in each column.
The memory usage of the DataFrame.
This provides a quick overview of the DataFrame's structure and contents after the cleaning operations.

**2.1.2** <font color = red>[3 marks]</font> <br>
There are two airport fee columns. This is possibly an error in naming columns. Let's see whether these can be combined into a single column.

In [12]:
# Check if both columns exist (case-sensitive check)
if 'Airport_fee' in df.columns and 'airport_fee' in df.columns:
    # Fill NaN with 0 and combine values
    df['airport_fee'] = df['Airport_fee'].fillna(0) + df['airport_fee'].fillna(0)

    # Drop the uppercase column
    df = df.drop(columns=['Airport_fee'])

    print("\nAfter combining airport fee columns:")
    print(df[['airport_fee']].head())
else:
    print("No duplicate airport fee columns found.")

After combining airport fee columns:
   airport_fee
0         0.00
1         0.00
2         0.00
3         1.75
4         0.00

**2.1.3** <font color = red>[5 marks]</font> <br>
Fix columns with negative (monetary) values

In [13]:
# Define monetary columns
monetary_columns = [
    'fare_amount', 'extra', 'mta_tax', 'tip_amount',
    'tolls_amount', 'improvement_surcharge', 'total_amount',
    'congestion_surcharge', 'airport_fee'
]

# Replace negative values with 0 in all monetary columns
df[monetary_columns] = df[monetary_columns].apply(lambda x: x.mask(x < 0, 0))

# Verify no negatives remain
negative_check = df[monetary_columns].lt(0).any()
print("Columns with negative values after fix:\n", negative_check)

Columns with negative values after fix:
 fare_amount              False
extra                    False
mta_tax                  False
tip_amount               False
tolls_amount             False
improvement_surcharge    False
total_amount             False
congestion_surcharge     False
airport_fee              False
dtype: bool

Did you notice something different in the `RatecodeID` column for above records?

In [14]:
# # Analyse RatecodeID for the negative fare amounts
# Check for negative fares
neg_fares = df[df['fare_amount'] < 0]

if not neg_fares.empty:
    # Check RatecodeID values
    print("RatecodeID for negative fares:")
    print(neg_fares['RatecodeID'].value_counts())

    # Look for weird RatecodeID values
    weird_codes = neg_fares[~neg_fares['RatecodeID'].isin([1,2,3,4,5,6])]
    if not weird_codes.empty:
        print("\nWeird RatecodeIDs found:")
        print(weird_codes[['RatecodeID', 'fare_amount']])
else:
    print("No negative fares found. Skip RatecodeID check.")

No negative fares found. Skip RatecodeID check.

In [15]:
# Find which columns have negative values
# Check which columns have negatives
money_cols = ['fare_amount', 'extra', 'mta_tax', 'tip_amount',
              'tolls_amount', 'improvement_surcharge', 'total_amount',
              'congestion_surcharge', 'airport_fee']

has_negatives = df[money_cols].apply(lambda col: (col < 0).any())
print("Columns with negative values:")
print(has_negatives)

Columns with negative values:
fare_amount              False
extra                    False
mta_tax                  False
tip_amount               False
tolls_amount             False
improvement_surcharge    False
total_amount             False
congestion_surcharge     False
airport_fee              False
dtype: bool

In [ ]:
# fix these negative values
#No negative values found

In [16]:
df.head(90)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-08-31 23:56:01,2023-09-01 00:18:41,1.0,3.11,1.0,114,246,1,21.2,1.0,0.5,0.00,0.00,1.0,26.20,2.5,0.00
1,2,2023-09-01 00:22:07,2023-09-01 00:49:44,1.0,6.85,1.0,144,238,1,33.1,1.0,0.5,7.62,0.00,1.0,45.72,2.5,0.00
2,2,2023-09-01 00:40:20,2023-09-01 00:51:30,1.0,1.15,1.0,230,162,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
3,2,2023-09-01 00:29:50,2023-09-01 01:06:41,2.0,19.82,2.0,132,142,1,70.0,0.0,0.5,16.54,6.94,1.0,99.23,2.5,1.75
4,2,2023-09-01 00:07:05,2023-09-01 00:13:37,2.0,1.22,1.0,186,107,1,8.6,1.0,0.5,1.00,0.00,1.0,14.60,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,2,2023-09-01 00:10:46,2023-09-01 00:17:46,3.0,2.21,1.0,114,186,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
86,2,2023-09-01 00:22:26,2023-09-01 00:31:40,1.0,2.24,1.0,170,114,2,12.1,1.0,0.5,0.00,0.00,1.0,17.10,2.5,0.00
87,1,2023-09-01 00:32:21,2023-09-01 00:41:22,1.0,1.50,1.0,230,140,1,9.3,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.00
88,2,2023-09-01 00:29:31,2023-09-01 00:51:22,1.0,5.19,1.0,170,226,1,25.4,1.0,0.5,6.08,0.00,1.0,36.48,2.5,0.00
89,2,2023-09-01 00:32:11,2023-09-01 00:41:17,1.0,1.41,1.0,162,48,2,10.0,1.0,0.5,0.00,0.00,1.0,15.00,2.5,0.00

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896400 entries, 0 to 1896399
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   PULocationID           int64
 7   DOLocationID           int64
 8   payment_type           int64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  congestion_surcharge   float64
 17  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4)
memory usage: 260.4 MB

### **2.2** Handling Missing Values
<font color = red>[10 marks]</font> <br>

**2.2.1**  <font color = red>[2 marks]</font> <br>
Find the proportion of missing values in each column

In [19]:
# Find the proportion of missing values in each column
missing = df.isnull().sum()

# Calculate proportion
prop_missing = missing / len(df)

# Show results
print("Proportion of missing values per column:")
print(prop_missing)

Proportion of missing values per column:
VendorID                 0.000000
tpep_pickup_datetime     0.000000
tpep_dropoff_datetime    0.000000
passenger_count          0.034255
trip_distance            0.000000
RatecodeID               0.034255
PULocationID             0.000000
DOLocationID             0.000000
payment_type             0.000000
fare_amount              0.000000
extra                    0.000000
mta_tax                  0.000000
tip_amount               0.000000
tolls_amount             0.000000
improvement_surcharge    0.000000
total_amount             0.000000
congestion_surcharge     0.034255
airport_fee              0.000000
dtype: float64

**2.2.2**  <font color = red>[3 marks]</font> <br>
Handling missing values in `passenger_count`

In [20]:
# Display the rows with null values
# Impute NaN values in 'passenger_count'
# Show rows with missing passenger_count
print("Rows with missing passenger_count:")
print(df[df['passenger_count'].isnull()].head(3))

# Check for zero values
zero_passengers = (df['passenger_count'] == 0).sum()
print(f"\nNumber of rides with 0 passengers: {zero_passengers}")

# Replace zeros and missing with median
median_passengers = df['passenger_count'].median()
df['passenger_count'] = df['passenger_count'].fillna(median_passengers)
df['passenger_count'] = df['passenger_count'].replace(0, median_passengers)

# Verify fix
print("\nAfter fixing:")
print(f"Missing values: {df['passenger_count'].isnull().sum()}")
print(f"Zero values: {(df['passenger_count'] == 0).sum()}")

Rows with missing passenger_count:
     VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
132         2  2023-09-01 01:08:43   2023-09-01 01:27:27              NaN
150         1  2023-09-01 01:58:44   2023-09-01 02:16:51              NaN
177         2  2023-09-01 01:10:49   2023-09-01 01:19:41              NaN

     trip_distance  RatecodeID  PULocationID  DOLocationID  payment_type  \
132           4.98         NaN           144            61             0
150           0.00         NaN            79            42             0
177           1.53         NaN           246           234             0

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
132        22.99    0.0      0.5        5.40           0.0
150        27.97    0.0      0.5        0.00           0.0
177        12.55    0.0      0.5        1.66           0.0

     improvement_surcharge  total_amount  congestion_surcharge  airport_fee
132                    1.0         32.39                   NaN          0.0
150                    1.0         31.97                   NaN          0.0
177                    1.0         18.21                   NaN          0.0

Number of rides with 0 passengers: 29242

After fixing:
Missing values: 0
Zero values: 0

Did you find zeroes in passenger_count? Handle these.

**2.2.3**  <font color = red>[2 marks]</font> <br>
Handle missing values in `RatecodeID`

In [ ]:
# Fix missing values in 'RatecodeID'
# Check most common valid RatecodeID value (excluding NaN)
valid_codes = [1, 2, 3, 4, 5, 6]
common_code = df[df['RatecodeID'].isin(valid_codes)]['RatecodeID'].mode()[0]

# Replace missing RatecodeID with most common valid code
df['RatecodeID'] = df['RatecodeID'].fillna(common_code)

# Verify fix
print("Missing values after fix:", df['RatecodeID'].isna().sum())
print("Value counts:")
print(df['RatecodeID'].value_counts(dropna=False))

Missing values after fix: 0
Value counts:
RatecodeID
1.0     1887053
2.0       76351
99.0      11309
5.0       11082
3.0        6256
4.0        4009
6.0           2
Name: count, dtype: int64

**2.2.4**  <font color = red>[3 marks]</font> <br>
Impute NaN in `congestion_surcharge`

In [ ]:
# handle null values in congestion_surcharge

Are there missing values in other columns? Did you find NaN values in some other set of columns? Handle those missing values below.

In [ ]:
# Handle any remaining missing values

### **2.3** Handling Outliers
<font color = red>[10 marks]</font> <br>

Before we start fixing outliers, let's perform outlier analysis.

In [ ]:
# Describe the data and check if there are any potential outliers present
# Check for potential out of place values in various columns

**2.3.1**  <font color = red>[10 marks]</font> <br>
Based on the above analysis, it seems that some of the outliers are present due to errors in registering the trips. Fix the outliers.

Some points you can look for:
- Entries where `trip_distance` is nearly 0 and `fare_amount` is more than 300
- Entries where `trip_distance` and `fare_amount` are 0 but the pickup and dropoff zones are different (both distance and fare should not be zero for different zones)
- Entries where `trip_distance` is more than 250  miles.
- Entries where `payment_type` is 0 (there is no payment_type 0 defined in the data dictionary)

These are just some suggestions. You can handle outliers in any way you wish, using the insights from above outlier analysis.

How will you fix each of these values? Which ones will you drop and which ones will you replace?

First, let us remove 7+ passenger counts as there are very less instances.

In [ ]:
# remove passenger_count > 6

In [ ]:
# Continue with outlier handling

In [ ]:
# Do any columns need standardising?

## **3** Exploratory Data Analysis
<font color = red>[90 marks]</font> <br>

In [ ]:
df.columns.tolist()

#### **3.1** General EDA: Finding Patterns and Trends
<font color = red>[40 marks]</font> <br>

**3.1.1** <font color = red>[3 marks]</font> <br>
Categorise the varaibles into Numerical or Categorical.
* `VendorID`:
* `tpep_pickup_datetime`:
* `tpep_dropoff_datetime`:
* `passenger_count`:
* `trip_distance`:
* `RatecodeID`:
* `PULocationID`:
* `DOLocationID`:
* `payment_type`:
* `pickup_hour`:
* `trip_duration`:


The following monetary parameters belong in the same category, is it categorical or numerical?


* `fare_amount`
* `extra`
* `mta_tax`
* `tip_amount`
* `tolls_amount`
* `improvement_surcharge`
* `total_amount`
* `congestion_surcharge`
* `airport_fee`

##### Temporal Analysis

**3.1.2** <font color = red>[5 marks]</font> <br>
Analyse the distribution of taxi pickups by hours, days of the week, and months.

In [ ]:
# Find and show the hourly trends in taxi pickups

In [ ]:
# Find and show the daily trends in taxi pickups (days of the week)

In [ ]:
# Show the monthly trends in pickups

##### Financial Analysis

Take a look at the financial parameters like `fare_amount`, `tip_amount`, `total_amount`, and also `trip_distance`. Do these contain zero/negative values?

In [ ]:
# Analyse the above parameters

Do you think it is beneficial to create a copy DataFrame leaving out the zero values from these?

**3.1.3** <font color = red>[2 marks]</font> <br>
Filter out the zero values from the above columns.

**Note:** The distance might be 0 in cases where pickup and drop is in the same zone. Do you think it is suitable to drop such cases of zero distance?

In [ ]:
# Create a df with non zero entries for the selected parameters.

**3.1.4** <font color = red>[3 marks]</font> <br>
Analyse the monthly revenue (`total_amount`) trend

In [ ]:
# Group data by month and analyse monthly revenue

**3.1.5** <font color = red>[3 marks]</font> <br>
Show the proportion of each quarter of the year in the revenue

In [ ]:
# Calculate proportion of each quarter

**3.1.6** <font color = red>[3 marks]</font> <br>
Visualise the relationship between `trip_distance` and `fare_amount`. Also find the correlation value for these two.

**Hint:** You can leave out the trips with trip_distance = 0

In [ ]:
# Show how trip fare is affected by distance

**3.1.7** <font color = red>[5 marks]</font> <br>
Find and visualise the correlation between:
1. `fare_amount` and trip duration (pickup time to dropoff time)
2. `fare_amount` and `passenger_count`
3. `tip_amount` and `trip_distance`

In [ ]:
# Show relationship between fare and trip duration

In [ ]:
# Show relationship between fare and number of passengers

In [ ]:
# Show relationship between tip and trip distance

**3.1.8** <font color = red>[3 marks]</font> <br>
Analyse the distribution of different payment types (`payment_type`)

In [ ]:
# Analyse the distribution of different payment types (payment_type).

- 1= Credit card
- 2= Cash
- 3= No charge
- 4= Dispute

##### Geographical Analysis

For this, you have to use the *taxi_zones.shp* file from the *taxi_zones* folder.

There would be multiple files inside the folder (such as *.shx, .sbx, .sbn* etc). You do not need to import/read any of the files other than the shapefile, *taxi_zones.shp*.

Do not change any folder structure - all the files need to be present inside the folder for it to work.

The folder structure should look like this:
```
Taxi Zones
|- taxi_zones.shp.xml
|- taxi_zones.prj
|- taxi_zones.sbn
|- taxi_zones.shp
|- taxi_zones.dbf
|- taxi_zones.shx
|- taxi_zones.sbx

 ```

 You only need to read the `taxi_zones.shp` file. The *shp* file will utilise the other files by itself.

We will use the *GeoPandas* library for geopgraphical analysis
```
import geopandas as gpd
```

More about geopandas and shapefiles: [About](https://geopandas.org/en/stable/about.html)


Reading the shapefile is very similar to *Pandas*. Use `gpd.read_file()` function to load the data (*taxi_zones.shp*) as a GeoDataFrame. Documentation: [Reading and Writing Files](https://geopandas.org/en/stable/docs/user_guide/io.html)

In [ ]:
# !pip install geopandas

**3.1.9** <font color = red>[2 marks]</font> <br>
Load the shapefile and display it.

In [ ]:
# import geopandas as gpd


# Read the shapefile using geopandas
zones = # read the .shp file using gpd
zones.head()

Now, if you look at the DataFrame created, you will see columns like: `OBJECTID`,`Shape_Leng`, `Shape_Area`, `zone`, `LocationID`, `borough`, `geometry`.
<br><br>

Now, the `locationID` here is also what we are using to mark pickup and drop zones in the trip records.

The geometric parameters like shape length, shape area and geometry are used to plot the zones on a map.

This can be easily done using the `plot()` method.

In [ ]:
# print(zones.info())
# zones.plot()

Now, you have to merge the trip records and zones data using the location IDs.

**3.1.10** <font color = red>[3 marks]</font> <br>
Merge the zones data into trip data using the `locationID` and `PULocationID` columns.

In [ ]:
# Merge zones and trip records using locationID and PULocationID

**3.1.11** <font color = red>[3 marks]</font> <br>
Group data by location IDs to find the total number of trips per location ID

In [ ]:
# Group data by location and calculate the number of trips

**3.1.12** <font color = red>[2 marks]</font> <br>
Now, use the grouped data to add number of trips to the GeoDataFrame.

We will use this to plot a map of zones showing total trips per zone.

In [ ]:
# Merge trip counts back to the zones GeoDataFrame

The next step is creating a color map (choropleth map) showing zones by the number of trips taken.

Again, you can use the `zones.plot()` method for this. [Plot Method GPD](https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.plot.html#geopandas.GeoDataFrame.plot)

But first, you need to define the figure and axis for the plot.

`fig, ax = plt.subplots(1, 1, figsize = (12, 10))`

This function creates a figure (fig) and a single subplot (ax)

---

After setting up the figure and axis, we can proceed to plot the GeoDataFrame on this axis. This is done in the next step where we use the plot method of the GeoDataFrame.

You can define the following parameters in the `zones.plot()` method:
```
column = '',
ax = ax,
legend = True,
legend_kwds = {'label': "label", 'orientation': "<horizontal/vertical>"}
```

To display the plot, use `plt.show()`.

**3.1.13** <font color = red>[3 marks]</font> <br>
Plot a color-coded map showing zone-wise trips

In [ ]:
# Define figure and axis


# Plot the map and display it

In [ ]:
# can you try displaying the zones DF sorted by the number of trips?

Here we have completed the temporal, financial and geographical analysis on the trip records.

**Compile your findings from general analysis below:**

You can consider the following points:

* Busiest hours, days and months
* Trends in revenue collected
* Trends in quarterly revenue
* How fare depends on trip distance, trip duration and passenger counts
* How tip amount depends on trip distance
* Busiest zones

#### **3.2** Detailed EDA: Insights and Strategies
<font color = red>[50 marks]</font> <br>

Having performed basic analyses for finding trends and patterns, we will now move on to some detailed analysis focussed on operational efficiency, pricing strategies, and customer experience.

##### Operational Efficiency

Analyze variations by time of day and location to identify bottlenecks or inefficiencies in routes

**3.2.1** <font color = red>[3 marks]</font> <br>
Identify slow routes by calculating the average time taken by cabs to get from one zone to another at different hours of the day.

Speed on a route *X* for hour *Y* = (*distance of the route X / average trip duration for hour Y*)

In [ ]:
# Find routes which have the slowest speeds at different times of the day

How does identifying high-traffic, high-demand routes help us?

**3.2.2** <font color = red>[3 marks]</font> <br>
Calculate the number of trips at each hour of the day and visualise them. Find the busiest hour and show the number of trips for that hour.

In [ ]:
# Visualise the number of trips per hour and find the busiest hour

Remember, we took a fraction of trips. To find the actual number, you have to scale the number up by the sampling ratio.

**3.2.3** <font color = red>[2 mark]</font> <br>
Find the actual number of trips in the five busiest hours

In [ ]:
# Scale up the number of trips

# Fill in the value of your sampling fraction and use that to scale up the numbers
sample_fraction =

**3.2.4** <font color = red>[3 marks]</font> <br>
Compare hourly traffic pattern on weekdays. Also compare for weekend.

In [ ]:
# Compare traffic trends for the week days and weekends

What can you infer from the above patterns? How will finding busy and quiet hours for each day help us?

**3.2.5** <font color = red>[3 marks]</font> <br>
Identify top 10 zones with high hourly pickups. Do the same for hourly dropoffs. Show pickup and dropoff trends in these zones.

In [ ]:
# Find top 10 pickup and dropoff zones

**3.2.6** <font color = red>[3 marks]</font> <br>
Find the ratio of pickups and dropoffs in each zone. Display the 10 highest (pickup/drop) and 10 lowest (pickup/drop) ratios.

In [ ]:
# Find the top 10 and bottom 10 pickup/dropoff ratios

**3.2.7** <font color = red>[3 marks]</font> <br>
Identify zones with high pickup and dropoff traffic during night hours (11PM to 5AM)

In [ ]:
# During night hours (11pm to 5am) find the top 10 pickup and dropoff zones
# Note that the top zones should be of night hours and not the overall top zones

Now, let us find the revenue share for the night time hours and the day time hours. After this, we will move to deciding a pricing strategy.

**3.2.8** <font color = red>[2 marks]</font> <br>
Find the revenue share for nighttime and daytime hours.

In [ ]:
# Filter for night hours (11 PM to 5 AM)

##### Pricing Strategy

**3.2.9** <font color = red>[2 marks]</font> <br>
For the different passenger counts, find the average fare per mile per passenger.

For instance, suppose the average fare per mile for trips with 3 passengers is 3 USD/mile, then the fare per mile per passenger will be 1 USD/mile.

In [ ]:
# Analyse the fare per mile per passenger for different passenger counts

**3.2.10** <font color = red>[3 marks]</font> <br>
Find the average fare per mile by hours of the day and by days of the week

In [ ]:
# Compare the average fare per mile for different days and for different times of the day

**3.2.11** <font color = red>[3 marks]</font> <br>
Analyse the average fare per mile for the different vendors for different hours of the day

In [ ]:
# Compare fare per mile for different vendors

**3.2.12** <font color = red>[5 marks]</font> <br>
Compare the fare rates of the different vendors in a tiered fashion. Analyse the average fare per mile for distances upto 2 miles. Analyse the fare per mile for distances from 2 to 5 miles. And then for distances more than 5 miles.

In [ ]:
# Defining distance tiers

##### Customer Experience and Other Factors

**3.2.13** <font color = red>[5 marks]</font> <br>
Analyse average tip percentages based on trip distances, passenger counts and time of pickup. What factors lead to low tip percentages?

In [ ]:
#  Analyze tip percentages based on distances, passenger counts and pickup times

Additional analysis [optional]: Let's try comparing cases of low tips with cases of high tips to find out if we find a clear aspect that drives up the tipping behaviours

In [ ]:
# Compare trips with tip percentage < 10% to trips with tip percentage > 25%

**3.2.14** <font color = red>[3 marks]</font> <br>
Analyse the variation of passenger count across hours and days of the week.

In [ ]:
# See how passenger count varies across hours and days

**3.2.15** <font color = red>[2 marks]</font> <br>
Analyse the variation of passenger counts across zones

In [ ]:
# How does passenger count vary across zones

In [ ]:
# For a more detailed analysis, we can use the zones_with_trips GeoDataFrame
# Create a new column for the average passenger count in each zone.

Find out how often surcharges/extra charges are applied to understand their prevalance

**3.2.16** <font color = red>[5 marks]</font> <br>
Analyse the pickup/dropoff zones or times when extra charges are applied more frequently

In [ ]:
# How often is each surcharge applied?

## **4** Conclusion
<font color = red>[15 marks]</font> <br>

### **4.1** Final Insights and Recommendations
<font color = red>[15 marks]</font> <br>

Conclude your analyses here. Include all the outcomes you found based on the analysis.

Based on the insights, frame a concluding story explaining suitable parameters such as location, time of the day, day of the week etc. to be kept in mind while devising a strategy to meet customer demand and optimise supply.

**4.1.1** <font color = red>[5 marks]</font> <br>
Recommendations to optimize routing and dispatching based on demand patterns and operational inefficiencies

**4.1.2** <font color = red>[5 marks]</font> <br>

Suggestions on strategically positioning cabs across different zones to make best use of insights uncovered by analysing trip trends across time, days and months.

**4.1.3** <font color = red>[5 marks]</font> <br>
Propose data-driven adjustments to the pricing strategy to maximize revenue while maintaining competitive rates with other vendors.